# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/

# Coverage log
.coverage
*.lcov

# IDEs
.vscode
.idea
/build/
/dist/
/bin/
/include/
/lib/

# Virtual Environments
.env
.venv
env
venv
