{#- -*- mode: sgml; tab-width: 1; indent-tabs-mode: nil -*-
 #
 # SPDX-License-Identifier: MIT
-#}

{%- import('macros/printParam.xml.jinja2') as pp %}

{%- macro printStructure(st) -%}
<STRUCTURE ID="{{st.odx_id.local_id}}">
 <SHORT-NAME>{{st.short_name}}</SHORT-NAME>
{%- if st.long_name %}
 <LONG-NAME>{{st.long_name|e}}</LONG-NAME>
{%- endif %}
{%- if st.byte_size is not none %}
 <BYTE-SIZE>{{st.byte_size}}</BYTE-SIZE>
{%- endif %}
 <PARAMS>
{%- for param in st.parameters -%}
  {{ pp.printParam(param)|indent(2)}}
{%- endfor %}
 </PARAMS>
</STRUCTURE>
{%- endmacro -%}
