{#- -*- mode: sgml; tab-width: 1; indent-tabs-mode: nil -*-
 #
 # SPDX-License-Identifier: MIT
-#}

{%- import('macros/printDiagComm.xml.jinja2') as pdc %}

{%- macro printService(service) -%}
{{pdc.printDiagCommOpenTag(service, "DIAG-SERVICE") }}
{{pdc.printDiagCommElems(service) | indent(1, first=True) }}
{%- if service.comparam_refs %}
 <COMPARAM-REFS>
{%- for ref in service.comparam_refs %}
  <COMPARAM-REF ID-REF="{{ref.ref_id}}" />
{%- endfor %}
 </COMPARAM-REFS>
{%- endif%}
{%- if service.request_ref %}
 <REQUEST-REF ID-REF="{{service.request_ref.ref_id}}"/>
{%- endif %}
{%- if service.pos_response_refs %}
 <POS-RESPONSE-REFS>
{%- for ref in service.pos_response_refs %}
  <POS-RESPONSE-REF ID-REF="{{ref.ref_id}}" />
{%- endfor %}
 </POS-RESPONSE-REFS>
{%- endif%}
{%- if service.neg_response_refs %}
 <NEG-RESPONSE-REFS>
{%- for ref in service.neg_response_refs %}
  <NEG-RESPONSE-REF ID-REF="{{ref.ref_id}}" />
{%- endfor %}
 </NEG-RESPONSE-REFS>
{%- endif%}
</DIAG-SERVICE>
{%- endmacro -%}
