{#- -*- mode: sgml; tab-width: 1; indent-tabs-mode: nil -*-
 #
 # SPDX-License-Identifier: MIT
 # Copyright (c) 2022 MBition GmbH
-#}
{%- import('macros/printComparam.xml.jinja2') as pcp %}
{#- -#}

{%- macro printComparamRef(cp) %}
<COMPARAM-REF ID-REF="{{cp.id_ref.ref_id}}"
              DOCREF="{{cp.id_ref.ref_docs[0]}}"
              DOCTYPE="COMPARAM-SUBSET">
 {%- if cp.value is iterable and cp.value is not string %}
 {{ pcp.printComplexValue(cp.value)|indent(1) }}
 {%- else %}
 <SIMPLE-VALUE>{{cp.value}}</SIMPLE-VALUE>
  {%- if cp.description is string and cp.description.strip() %}
  <DESC>
{{cp.description}}
  </DESC>
  {%- endif %}
 {%- endif %}
 <PROTOCOL-SNREF SHORT-NAME="TODO"/>
</COMPARAM-REF>
{%- endmacro %}
