
{#- -*- mode: sgml; tab-width: 1; indent-tabs-mode: nil -*-
 #
 # SPDX-License-Identifier: MIT
-#}

{%- import('macros/printElementId.xml.jinja2') as peid %}

{%- macro printFunctionalClass(fc) -%}
<FUNCT-CLASS {{-peid.printElementIdAttribs(fc)}}>
 {{ peid.printElementIdSubtags(fc)|indent(1) }}
</FUNCT-CLASS>
{%- endmacro -%}
