{#- -*- mode: sgml; tab-width: 1; indent-tabs-mode: nil -*-
 #
 # SPDX-License-Identifier: MIT
-#}

{%- macro printEndOfPdu(eopdu) -%}
<END-OF-PDU-FIELD ID="{{eopdu.odx_id.local_id}}">
 <SHORT-NAME>{{eopdu.short_name}}</SHORT-NAME>
 <LONG-NAME>{{eopdu.long_name|e}}</LONG-NAME>
 <BASIC-STRUCTURE-REF ID-REF="{{eopdu.structure_ref.ref_id}}" />
</END-OF-PDU-FIELD>
{%- endmacro -%}
