{#- -*- mode: sgml; tab-width: 1; indent-tabs-mode: nil -*-
 #
 # SPDX-License-Identifier: MIT
-#}

{%- import('macros/printElementID.xml.jinja2') as peid %}

{%- macro printMux(mux) %}
<MUX ID="{{mux.odx_id.local_id}}">
  {{ peid.printElementID(mux)|indent(1) }}
  <BYTE-POSITION>{{mux.byte_position}}</BYTE-POSITION>
  <SWITCH-KEY>
    <BYTE-POSITION>{{mux.switch_key.byte_position}}</BYTE-POSITION>
    {%- if mux.switch_key.bit_position is not none %}
    <BIT-POSITION>{{mux.switch_key.bit_position}}</BIT-POSITION>
    {%- endif %}
    <DATA-OBJECT-PROP-REF ID-REF="{{mux.switch_key.dop_ref.ref_id}}"/>
  </SWITCH-KEY>
  {%- if mux.default_case is not none %}
  <DEFAULT-CASE>
    {{ peid.printElementID(mux.default_case)|indent(4) }}
    {%- if mux.default_case.structure_ref is not none %}
    <STRUCTURE-REF ID-REF="{{mux.default_case.structure_ref.ref_id}}"/>
    {%- endif %}
    {%- if mux.default_case.structure_snref is not none %}
    <STRUCTURE-SNREF SHORT_NAME="{{mux.default_case.structure_snref}}"/>
    {%- endif %}
  </DEFAULT-CASE>
  {%- endif %}
  {%- if mux.cases %}
  <CASES>
    {%- for case in mux.cases %}
    <CASE>
      {{ peid.printElementID(case)|indent(6) }}
      {%- if case.structure_ref is not none %}
      <STRUCTURE-REF ID-REF="{{case.structure_ref.ref_id}}"/>
      {%- endif %}
      {%- if case.structure_snref is not none %}
      <STRUCTURE-SNREF SHORT_NAME="{{case.structure_snref}}"/>
      {%- endif %}
      <LOWER-LIMIT>{{case.lower_limit}}</LOWER-LIMIT>
      <UPPER-LIMIT>{{case.upper_limit}}</UPPER-LIMIT>
    </CASE>
    {%- endfor %}
  </CASES>
  {%- endif %}
</MUX>
{%- endmacro -%}
