
{#- -*- mode: sgml; tab-width: 1; indent-tabs-mode: nil -*-
 #
 # SPDX-License-Identifier: MIT
-#}

{%- import('macros/printElementID.xml.jinja2') as peid %}

{%- macro printFunctionalClass(fc) -%}
<FUNCT-CLASS ID="{{fc.odx_id.local_id}}">
 {{ peid.printElementID(fc)|indent(1) }}
</FUNCT-CLASS>
{%- endmacro -%}
