{#- -*- mode: sgml; tab-width: 1; indent-tabs-mode: nil -*-
 #
 # SPDX-License-Identifier: MIT
-#}

{%- import('macros/printElementID.xml.jinja2') as peid %}

{%- macro printState(state) -%}
<STATE ID="{{state.odx_id.local_id}}">
 {{ peid.printElementID(state)|indent(1) }}
</STATE>
{%- endmacro -%}
