{#- -*- mode: sgml; tab-width: 1; indent-tabs-mode: nil -*-
 #
 # SPDX-License-Identifier: MIT
-#}

{%- import('macros/printElementId.xml.jinja2') as peid %}
{%- import('macros/printSpecialData.xml.jinja2') as psd %}
{%- import('macros/printDescription.xml.jinja2') as pd %}

{%- macro printTable(table) %}
<TABLE {{-peid.printElementIdAttribs(table)}}
       {{-make_xml_attrib("SEMANTIC", table.semantic)}}>
 {{ peid.printElementIdSubtags(table)|indent(1) }}
{%- if table.key_dop_ref %}
 <KEY-DOP-REF ID-REF="{{ table.key_dop_ref.ref_id }}" />
{%- endif %}
 {%- for table_row in table.table_rows_raw %}
 {%- if hasattr(table_row, "key") %}
 <TABLE-ROW {{-peid.printElementIdAttribs(table_row)}}
            {{-make_xml_attrib("SEMANTIC", table_row.semantic)}}>
  <SHORT-NAME>{{table_row.short_name}}</SHORT-NAME>
  {%- if table_row.long_name %}
  <LONG-NAME>{{table_row.long_name|e}}</LONG-NAME>
  {%- endif %}
  {{ pd.printDescription(table_row.description) }}
  <KEY>{{table_row.key|e}}</KEY>
  {%- if table_row.dop_ref %}
  <DATA-OBJECT-PROP-REF ID-REF="{{ table_row.dop_ref.ref_id }}" />
  {%- endif %}
  {%- if table_row.structure_ref %}
  <STRUCTURE-REF ID-REF="{{ table_row.structure_ref.ref_id }}" />
  {%- endif %}
  {{- psd.printSpecialDataGroups(table_row.sdgs)|indent(2, first=True) }}
 </TABLE-ROW>
 {%- else %}
 <TABLE-ROW-REF ID-REF="{{ table_row.ref_id }}" />
 {%- endif %}
{%- endfor %}
 {{- psd.printSpecialDataGroups(table.sdgs)|indent(1, first=True) }}
</TABLE>
{%- endmacro -%}
