{#- -*- mode: sgml; tab-width: 1; indent-tabs-mode: nil -*-
 #
 # SPDX-License-Identifier: MIT
 #
 # This template writes an .odx-cs file for a communication
 # parameter subset.
-#}
{%- import('macros/printComparam.xml.jinja2') as pcp -%}
{%- import('macros/printAdminData.xml.jinja2') as pad -%}
{%- import('macros/printCompanyData.xml.jinja2') as pcd -%}
{%- import('macros/printDOP.xml.jinja2') as pdop %}
{%- import('macros/printUnitSpec.xml.jinja2') as pus %}
{%- import('macros/printSpecialData.xml.jinja2') as psd %}
{#- -#}

<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<ODX MODEL-VERSION="2.2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="odx.xsd">
<!-- Written using odxtools {{odxtools_version}} -->
 <COMPARAM-SUBSET ID="{{comparam_subset.odx_id.local_id}}"
                  CATEGORY="{{comparam_subset.category}}" >
   <SHORT-NAME>{{comparam_subset.short_name}}</SHORT-NAME>
   {%- if comparam_subset.long_name is not none %}
   <LONG-NAME>{{comparam_subset.long_name|e}}</LONG-NAME>
   {%- endif %}
   {%- if comparam_subset.description and comparam_subset.description.strip() %}
   <DESC>
     {{comparam_subset.description}}
   </DESC>
   {%- endif %}
   {%- if comparam_subset.admin_data is not none %}
   {{- pad.printAdminData(comparam_subset.admin_data) | indent(3) }}
   {%- endif %}
   {%- if comparam_subset.company_datas %}
   <COMPANY-DATAS>
     {%- for cd in comparam_subset.company_datas %}
     {{- pcd.printCompanyData(cd) | indent(5, first=True) }}
     {%- endfor %}
   </COMPANY-DATAS>
   {%- endif %}
   {{- psd.printSpecialDataGroups(comparam_subset.sdgs)|indent(3, first=True) }}
   {%- if comparam_subset.comparams %}
   <COMPARAMS>
     {%- for cp in comparam_subset.comparams %}
     {{- pcp.printSimpleComparam(cp) | indent(5, first=True) }}
     {%- endfor %}
   </COMPARAMS>
   {%- endif %}
   {%- if comparam_subset.complex_comparams %}
   <COMPLEX-COMPARAMS>
     {%- for cp in comparam_subset.complex_comparams %}
     {{- pcp.printComplexComparam(cp) | indent(5, first=True) }}
     {%- endfor %}
   </COMPLEX-COMPARAMS>
   {%- endif %}
   {% if comparam_subset.data_object_props %}
   <DATA-OBJECT-PROPS>
     {%- for dop in comparam_subset.data_object_props %}
     {{- pdop.printDOP(dop, "DATA-OBJECT-PROP") | indent(2, first=True) }}
     {%- endfor %}
   </DATA-OBJECT-PROPS>
   {% endif %}
   {% if comparam_subset.unit_spec %}
   {{ pus.printUnitSpec(comparam_subset.unit_spec) }}
   {% endif %}
 </COMPARAM-SUBSET>
</ODX>
