{#- -*- mode: sgml; tab-width: 1; indent-tabs-mode: nil -*-
 #
 # SPDX-License-Identifier: MIT
-#}
{%- import('macros/printAdminData.xml.jinja2') as pad -%}
{%- import('macros/printCompanyData.xml.jinja2') as pcd -%}
{%- import('macros/printSpecialData.xml.jinja2') as psd %}
{%- import('macros/printEcuSharedData.xml.jinja2') as pecusd -%}
{%- import('macros/printProtocol.xml.jinja2') as pprot %}
{%- import('macros/printFunctionalGroup.xml.jinja2') as pfuncgroup %}
{%- import('macros/printEcuSharedData.xml.jinja2') as pecusd %}
{%- import('macros/printBaseVariant.xml.jinja2') as pbv %}
{%- import('macros/printEcuVariant.xml.jinja2') as pecuv %}
{#- -#}

<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<ODX MODEL-VERSION="2.2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="odx.xsd">
 <!-- Written using odxtools {{odxtools_version}} -->
 <DIAG-LAYER-CONTAINER ID="{{dlc.odx_id.local_id}}">
  <SHORT-NAME>{{dlc.short_name}}</SHORT-NAME>
{%- if dlc.long_name %}
  <LONG-NAME>{{dlc.long_name|e}}</LONG-NAME>
{%- endif %}
{%- if dlc.description %}
  <DESC>
{{dlc.description}}
  </DESC>
{%- endif %}
{%- if dlc.admin_data %}
  {{pad.printAdminData(dlc.admin_data)|indent(2)}}
{%- endif %}
{%- if dlc.company_datas %}
  <COMPANY-DATAS>
 {%- for cd in dlc.company_datas %}
   {{pcd.printCompanyData(cd)|indent(3)}}
 {%- endfor %}
  </COMPANY-DATAS>
{%- endif %}
  {{- psd.printSpecialDataGroups(dlc.sdgs)|indent(2, first=True) }}
{%- if dlc.protocols %}
  <PROTOCOLS>
 {%- for dl in dlc.protocols %}
   {{pprot.printProtocol(dl)|indent(3)}}
 {%- endfor %}
  </PROTOCOLS>
{%- endif %}
{%- if dlc.functional_groups %}
  <FUNCTIONAL-GROUPS>
 {%- for dl in dlc.functional_groups %}
  {{pfuncgroup.printFunctionalGroup(dl)|indent(3)}}
 {%- endfor %}
  </FUNCTIONAL-GROUPS>
{%- endif %}
{%- if dlc.ecu_shared_datas %}
  <ECU-SHARED-DATAS>
 {%- for dl in dlc.ecu_shared_datas %}
  {{pecusd.printEcuSharedData(dl)|indent(3)}}
 {%- endfor %}
  </ECU-SHARED-DATAS>
{%- endif %}
{%- if dlc.base_variants %}
  <BASE-VARIANTS>
 {%- for dl in dlc.base_variants %}
  {{pbv.printBaseVariant(dl)|indent(3)}}
 {%- endfor %}
  </BASE-VARIANTS>
{%- endif %}
{%- if  dlc.ecu_variants %}
  <ECU-VARIANTS>
 {%- for dl in dlc.ecu_variants %}
  {{pecuv.printEcuVariant(dl)|indent(3)}}
 {%- endfor %}
  </ECU-VARIANTS>
{%- endif %}
 </DIAG-LAYER-CONTAINER>
</ODX>
